body{
    background-image: url("./c2.jpg");
     background-repeat: no-repeat;
     background-size:cover ;
     
}
.one{
    color:black;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.Aasi{
display: flex;
flex-direction: column;
width: fit-content;
justify-content: center;
align-items: center;
margin-left: 620px;
margin-top: 40px;
}
button a{
text-decoration: none;
color: black;
}
.main{
width: 400px;
height: 200px;
background-color: antiquewhite;
opacity: 0.9;
margin-top: 170px;
border-radius: 10%;


}
